<div class="row">
  <div class="col-md-6">
    <h3>*Orientation - Wed, 2/10: 6-8 PM - *REQUIRED</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td>Follow Setup instructions to install software by Mon, 2/8, 5 PM</td></tr>
      <tr> <td>      </td> <td>Email bio and headshot</td></tr>
	  <tr> <td>018:00</td> <td>Welcome and Introductions</td></tr>
	  <tr> <td>018:30</td> <td>Careers Outlook</td></tr>
      <tr> <td>019:00</td> <td>Guided data file downloads</td></tr>
      <tr> <td>019:30</td> <td>Technical Assistance</td></tr>
        </table>
  </div>
  
  <div class="col-md-6">
    <h3>*The Unix Shell - Mon, 2/15 - Wed, 2/17: 6-8 PM - *REQUIRED</h3>
    <table class="table table-striped">
      <tr> <td>Mon, 2/15</td>  <td>Shell 1</td> </tr>
      <tr> <td>Tue, 2/16</td>  <td>Shell 2</td> </tr>
      <tr> <td>Wed, 2/17</td>  <td>Shell 3</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <h3>Managing Data with SQL - Mon, 2/22 - Wed, 2/24: 6-8 PM</h3>
    <table class="table table-striped">
      <tr> <td>Mon, 2/22</td>  <td>SQL 1</td> </tr>
      <tr> <td>Tue, 2/23</td>  <td>SQL 2</td> </tr>
      <tr> <td>Wed, 2/24</td>  <td>SQL with Carle</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <h3>*Programming in Python - Mon, 3/01 - Thu, 3/04: 6-8 PM - *REQUIRED</h3>
    <table class="table table-striped">
      <tr> <td>Mon, 3/01</td>  <td>Python 1</td> </tr>
      <tr> <td>Tue, 3/02</td>  <td>Python 2</td> </tr>
      <tr> <td>Wed, 3/03</td>  <td>Python 3</td> </tr>
      <tr> <td>Wed, 3/04</td>  <td>Python with Caterpillar</td> </tr>
	</table>
  </div>
 
  <div class="col-md-6">
    <h3>*Version Control with Git - Mon, 3/09 - Wed, 3/1: 6-8 PM - *REQUIRED</h3>
    <table class="table table-striped">
      <tr> <td>Mon, 3/09</td>  <td>Git 1</td> </tr>
      <tr> <td>Tue, 3/10</td>  <td>Git 2</td> </tr>
      <tr> <td>Wed, 3/11</td>  <td>Capstone Project Setup</td> </tr>
	</table>
  </div>

  <div class="col-md-6">
    <h3>Image Processing with Python - Mon, 3/15 - Wed, 3/17: 6-8 PM</h3>
    <table class="table table-striped">
      <tr> <td>Mon, 3/15</td>  <td>Image Processing 1</td> </tr>
      <tr> <td>Tue, 3/16</td>  <td>Image Processing 2</td> </tr>
      <tr> <td>Wed, 3/17</td>  <td>Image Processing with American Family Insurance</td> </tr>
	</table>
  </div>
  <div class="col-md-6">
    <h3>Data Analytics with Python - Mon, 3/22 - Wed, 3/24: 6-8 PM</h3>
    <table class="table table-striped">
      <tr> <td>Mon, 3/22</td>  <td>Data Analytics 1</td> </tr>
      <tr> <td>Tue, 3/23</td>  <td>Data Analytics 2</td> </tr>
      <tr> <td>Wed, 3/24</td>  <td>Data Analytics with Verizon Media</td> </tr>
	</table>
  </div>
 <div class="col-md-6">
    <h3>Data Visualization with Wolfram - Mon, 3/29 - Tue, 3/30: 6-8 PM</h3>
    <table class="table table-striped">
      <tr> <td>Mon, 3/29</td>  <td>Data Visualization 1 with Wolfram</td> </tr>
      <tr> <td>Tue, 3/30</td>  <td>Data Visualization 2 with Wolfram</td> </tr>
	</table>
  </div>
  
 <div class="col-md-6">
    <h3>*Capstone Project - Wed, 3/04 - Fri, 4/09 - *REQUIRED</h3>
    <table class="table table-striped">
      <tr> <td>Wed, 3/04</td>  <td>Setup Capstone Project</td> </tr>
      <tr> <td>Tue, 3/30</td>  <td>Turn in Capstone Project</td> </tr>
	</table>
  </div> 
</div>
